body{
    margin: 0;
    padding: 10px 20px;
    width: 972px;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #515151;
}

hr{
    color: #e5e5e5;
}

.section_main{
    overflow: hidden;
    height: 400px;
}

.main_stamp {
    float:left;
    width: 186px;
    font-size: 8px;
    margin: 28px;
    padding: 0;
}

.main_stamp_header{
    font-family: 'Oleo Script', cursive;
    font-size: 5em;
    color: #222222;
    margin: 0;
    padding: 0;
}

nav{
    width: 600px;
    -padding: 0;
    margin: 38px 380px;
    text-align: left;
    white-space:nowrap;
}

.main_menu>li{
    display: inline-block;
    padding: 0 20px;
    text-transform: capitalize;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #515151;
}

/*Внешний вид подменю*/
.main_submenu {
    position:absolute;
    padding: 20px 13px;
    width: 166px;
    background-color: #ffffff;
    left: 700px;
    font-size: 12px;
    display: none;
    text-align: left;
    border: #e0e0e0 2px solid;
    list-style-type: none;
    opacity: 1;
    transition: margin .15s, opacity .15s;
}

.main_submenu:before, .main_submenu:after {
    content: '';
    position: absolute;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    border-top: 10px solid #EEE;
    left: 20px;
    top: -1px;
}

.main_submenu:after {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #FFF;
    left: 20px;
    top: -4px;
}

.main_submenu li{
    padding: 2px;
}

.main_submenu_complementary_text{
    text-transform: lowercase;
    font-size: 10px;
}

.main_submenu li:hover{
    background-color: #f3f3f3;
}

.main_menu li:hover>a,
.main_menu li:focus>a{
    color: #222222;
    -font-weight: bold;
}

.main_menu li:hover .main_submenu,
.main_menu li:focus .main_submenu {
    display: block;
    color: #222222;
}

.apply_button{
    display:block;
    border: hidden;
    background-color: #ffc552;
    color: #ffffff;
    text-align: left;
    border-radius: 5px;
    width: 83px;
    text-transform: capitalize;
    padding: 8px;
}

.apply_button:hover{
    border-radius: 44px 150px 150px 44px;
    width: 93px;
    color: #222222;
    -font-weight: bold;
}

.main_watch{
    height: 37px;
    width: 170px;
    border: #ffc552 1px solid;
    overflow: hidden;
    padding: 2px;
    float: right;
    background-color: #ffc552;
    border-radius: 5px;
}

.main_watch:hover .watch_button_text_top,
.main_watch:focus .watch_button_text_top,
.main_watch:hover .watch_button_text_go,
.main_watch:focus .watch_button_text_go{
    color: #222222;
    -font-weight: bold;
}

.main_text_more{
    display: none;
    color: #cfe1d2;
    position: relative;
    margin: 59px 0 0 150px;
    font-size: 10px;
    text-align: center;
    width: 250px;
}

.main_text_more a{
    color: #cfe1d2;
    text-decoration: underline;
}

.main_text:hover >.main_text_more,
.main_text:focus >.main_text_more{
    display: block;
}

.watch_button{
    text-align: left;
    width: 100px;
    -height: 30px;
    position: relative;
    padding: 0 0 0 5px;
    -padding: 5px;
}

.watch_button_text_top{
    color: #FFF;
    font-size: 15px;
    -padding: 0;
}

.watch_button_text_bottom{
    color: #d28600;
    font-size: 9px;
    padding: 0;
}

.watch_button_text_line{
    -margin: -15px 0 0 0;
    -padding: -15px 0 0 0;
    font-size: 25px;
    color: #d28600;
    -vertical-align: middle;
    -height: 10px;
}

.watch_button_text_go{
    margin: 5px;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.watch_button2{
    margin: -32px 0 0 135px;
    position: relative;
    text-align: left;
    width: 10px;
    height: 30px;
}

.watch_button3{
    margin: -34px 0 0 145px;
    position: relative;
    text-align: left;
    width: 20px;
    height: 30px;
}

.watch_button span{
    margin: 0;
    padding: 0;
    text-align: left;
}

.section_header{
    font-size: 15px;
}

.main_text{
    padding: 0;
    text-align: right;
    width: 420px;
    margin: -300px 0 0 447px;
    overflow: hidden;
}

.main_text_header{
    font-size: 28px;
}

.main_text_text{
    width: 415px;
}

.main_preview{
    width: 292px;
    -height: 400px;
    border: 1px solid;
    top: 139px;
    margin: 88px 76px;
    overflow: hidden;
}

.main_preview_img{
    -position: relative;
    margin: -180px 0 0 0;
    z-index: 10;
}

.main_preview_text{
    padding: 0;
    width: 214px;
    height: 49px;
    background-color: #10161a;
    margin: 130px 0 0 40px;
    opacity: 0.8;
    overflow: hidden;
    font-size: 10px;
    z-index: 20;
    position: relative;
}

.section_pictures>div{
    vertical-align: top;
    display: inline-block;
    position: relative;
    -border: 1px solid;
    width: 302px;
    margin: 0 8px;
    text-align: justify;
}

.section_pictures_item_img{
    border: 2px solid #fff;
    -margin: 0 0 0 4px;
    -padding: 2px;
}

.section_pictures_item_header:hover{
    background-color: #FFF;
}

.section_pictures_item_header{
    background-color: #f3f3f3;
    -overflow: hidden;
    z-index: 1;
    position: relative;
    border: 2px solid #f3f3f3;
}
.section_pictures_item_header_line1{
    font-size: 12px;
    padding: 0 0 0 10px;
}

.section_pictures_item_header_line2{
    font-size: 10px;
    padding: 0 0 0 10px;
}

.section_pictures_item_header{
    background-image: linear-gradient(to bottom right, transparent 50.5%, #f3f3f3 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, #f3f3f3 50.5%);
    background-repeat: repeat-x, repeat-x;
    -background-position: -15px 0, -15px 0;
    background-size: 10px 10px, 10px 10px;
    background-position: bottom;
    overflow: hidden;
    -padding: 10px;
    margin: 0 0 2px 0;
    -z-index: 5;
    position: relative;
}

.section_pictures_item_content{
    background-image: linear-gradient(to bottom right, transparent 50.5%, #FFF 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, #FFF 50.5%);
    background-repeat: repeat-x, repeat-x;
    -background-position: -15px 0, -15px 0;
    background-size: 10px 10px, 10px 10px;
    background-position: top;
    overflow: hidden;
    padding: 10px;
    margin: -10px 0 0 0;
    z-index: 5;
    position: relative;
}

.tabs__content_items>div{
    vertical-align: top;
    display: inline-block;
    -border: 1px solid;
    width: 32%;
}

.tabs {
    border: 1px solid #aaa;
}

.tabs__header {
    white-space: nowrap;
    font-size: 0;
    -border-bottom: 1px solid #aaa;
    background-color: #fdfdfd;
}

.tabs__item {
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    border-left: 1px solid #aaa;
    color: #bbb;
    font-size: 10px;
    border-bottom: 1px solid #aaa;
}

.tabs__item:last-child {
    border-right: 1px solid #aaa;
}

.tabs__item_selected {
    background-color: #fff;
    color: #000;
    border-bottom: none;
}

.tabs__content {
    padding: 15px;
    display: none;
}

.tabs__content_selected {
    display: block;
}

.highlited{
    background-color: #ffe7b9;
}
.tabs__content_items_1_header{
    color: #222222;
}

.tabs__content_items_1 li{
    list-style-type: none;
}

.tabs__content_items_1 ul{
    padding-left: 10px;
    color: #222222;
}

.tabs__content_items_1 li:before{
    content: ">";
    padding-right: 10px;
    -margin-bottom: 15px;
    -float:left;
}

.tabs__content_items2 p{
    vertical-align: top;
    position: relative;
    -display: inline-block;
    -width: 47%;
    -border: solid;
}

.tabs__content_items2_img{
    width: 120px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f3f3f3;
    -border: solid;
    position: absolute;
}

.tabs_item_header, .tabs_item_text{
    margin: 0 0 0 130px;
    -border: solid;
}

.tabs_item_header{
    color: #222222;
    font-weight: bold;
}


.section_links>div{
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.links_lastes_articles{
    width: 45%;
}

.links_single_menu_title,
.links_cursus_venenatis_mollis{
    width: 20%;
}

.links_header{
    color: #ffad19;
    font-weight: bold;
}

.links_lastes_articles_header{
    color: #222222;
}

.section_links a:hover,
.section_links a:focus{
    color: #222222;
    -font-weight: 600;
}

.links_lastes_articles li{
    list-style-type: none;
    height: 60px;
}

.links_lastes_articles ul{
    padding: 0;
}

.links_lastes_articles li:before{
    content: url("./img/lyst.png");
    padding-right: 15px;
    margin-bottom: 15px;
    float:left;
}
