body{
    margin: 61px 114px;
    padding: 10px 20px;
    width: 972px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

hr{
    color: #e5e5e5;
}

.logo {
    float:left;
    width: 186px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.logo_header{
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    color: #222222;
    margin: 0;
    padding: 0;
}


nav{
    width: 600px;
    margin: 35px 365px;
    text-align: left;
    white-space:nowrap;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

.menu>li{
    display: inline-block;
    padding: 0 22px 10px 22px;
    text-transform: capitalize;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #515151;
}

/*Внешний вид подменю*/
.submenu{
    position:absolute;
    margin-top: 10px;
    padding: 15px 13px;
    width: 160px;
    background-color: #fff;
    left: 820px;
    font-size: 12px;
    display: none;
    text-align: left;
    border: #e0e0e0 2px solid;
    list-style-type: none;
    opacity: 1;
    z-index: 500;
}

.submenu:before, .submenu:after {
    content: '';
    position: absolute;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    border-top: 10px solid #EEE;
    left: 20px;
    top: -1px;
}

.submenu:after {
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #FFF;
    left: 20px;
    top: -4px;
}

.submenu li{
    padding: 2px;
}


.submenu_complementary_text{
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    font-size: 10px;
}

.submenu li:hover{
    background-color: #f3f3f3;
    border-radius: 3px;
}

.menu li:hover>a,
.menu li:focus>a{
    color: #222222;
}

.menu li:hover .submenu,
.menu li:focus .submenu {
    display: block;
    color: #222222;
}

.apply_button{
    display:block;
    border: hidden;
    background-color: #ffc552;
    color: #ffffff;
    text-align: left;
    border-radius: 5px;
    width: 83px;
    text-transform: capitalize;
    padding: 8px;
    vertical-align: top;
}

.apply_button:hover{
    border-radius: 44px 150px 150px 44px;
    width: 93px;
    color: #222222;
}

.banner{
    margin: 0;
    padding: 0;
    height: 295px;
    width: 100%;
}

.banner>div{
    display: inline-block;
    position: relative;
    vertical-align: top;
}


.wrapper {
    height: 188px;
    width: 292px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 10px #f3f3f3;
}

.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
}

.slide1 { background-image: url("./img/spiderman.png"); }
.slide2 { background-image: url("./img/lake.png"); }
.slide3 { background-image: url("./img/spiderman2.png"); }
.slide4 { background-image: url("./img/lake2.png"); }


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4{
    opacity: 1;
    z-index: 1;
}

.wrapper > input {
    display: none;
}

.wrapper .controls {
    position: absolute;
    padding: 0 7px;
    width: 292px;
    height: 0;
}

.wrapper label{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 0 40px 0 0;
    z-index: 200;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4){
    background: #ddd;
}

#slide1:checked ~ .controls label:nth-of-type(2),
#slide2:checked ~ .controls label:nth-of-type(3),
#slide3:checked ~ .controls label:nth-of-type(4),
#slide4:checked ~ .controls label:nth-of-type(1){
    float: right;
    position: relative;
    margin: 0;
    z-index: 300;
}

#slide1:checked ~ .controls label:nth-of-type(2):after,
#slide2:checked ~ .controls label:nth-of-type(3):after,
#slide3:checked ~ .controls label:nth-of-type(4):after,
#slide4:checked ~ .controls label:nth-of-type(1):after{
    background-color: #10161a;
    opacity: 0.7;
}

#slide1:checked ~ .controls label:nth-of-type(4),
#slide2:checked ~ .controls label:nth-of-type(1),
#slide3:checked ~ .controls label:nth-of-type(2),
#slide4:checked ~ .controls label:nth-of-type(3){
    float: left;
    position: relative;
    margin: 0;
    z-index: 300;
}

#slide1:checked ~ .controls label:nth-of-type(4):after,
#slide2:checked ~ .controls label:nth-of-type(1):after,
#slide3:checked ~ .controls label:nth-of-type(2):after,
#slide4:checked ~ .controls label:nth-of-type(3):after{
    background-color: #10161a;
    opacity: 0.7;
}

.wrapper label:after {
    content: " ";
    display: block;
    height: 49px;
    left: -5px;
    position: absolute;
    top: -53px;
    width: 32px;
    border-radius: 3px;
}

.banner_preview{
    width: 450px;
    position: relative;
}

.banner_preview_img{
    position: relative;
    margin: -221px 0 0 0;
    padding: 37px 57px;
    z-index: 10;
}

.banner_preview_text{
    padding: 0;
    width: 214px;
    height: 49px;
    background-color: #10161a;
    border-radius: 3px;
    margin: 160px 0 0 94px;
    overflow: hidden;
    z-index: 20;
    position: relative;
    opacity: 0.7;
}

.banner_preview_text_describtion{
    padding: 0;
    margin: 7px;
    font-size: 13px;
    color: #FFFFFF;
}

.banner_preview_text_from{
    padding: 0;
    margin: 7px;
    font-size: 11px;
    color: #ffc14c;
}

.banner_preview_text_location{
    color: #999999;
}

.banner_text{
    text-align: right;
    width: 440px;
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

.banner_text_header{
    font-size: 38px;
    white-space:nowrap;
    margin: 25px 0 0 0;
}

.banner_text_content{
    font-size: 14px;
    padding: 0;
    margin: 0 0 15px 0;
}

.banner_text_top{
    border-bottom: 1px solid #e5e5e5;
}

.main_watch{
    height: 37px;
    width: 170px;
    border: #ffc552 1px solid;
    overflow: hidden;
    padding: 2px;
    float: right;
    background-color: #ffc552;
    border-radius: 5px;
    margin-top: 15px;
}

.main_watch:hover .watch_button_text_top,
.main_watch:focus .watch_button_text_top,
.main_watch:hover .watch_button_text_go,
.main_watch:focus .watch_button_text_go{
    color: #222222;
}

.main_text:hover >.main_text_more,
.main_text:focus >.main_text_more{
    display: block;
}

.watch_button{
    text-align: left;
    width: 100px;
    position: relative;
    padding: 0 0 0 5px;
}

.watch_button_text_top{
    color: #FFF;
    font-size: 15px;
}

.watch_button_text_bottom{
    color: #d28600;
    font-size: 9px;
    padding: 0;
}

.watch_button_text_go{
    margin: 5px;
    padding: 0 10px 0 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    border-left: groove 1px #ffb038;
}


.watch_button3{
    margin: -34px 0 0 130px;
    padding-top: 2px;
    position: relative;
    text-align: left;
    width: 20px;
    height: 30px;
}

.watch_button span{
    margin: 0;
    padding: 0;
    text-align: left;
}

.section_header{
    font-size: 18px;
}

.section_pictures{
    border-top: 1px solid #e5e5e5;
}

.section_pictures>div{
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 302px;
    margin: 0 8px;
    text-align: justify;
}

.section_pictures_item_img{
    border: 2px solid #fff;
}

.img_opacity {
    display: none;
    position: absolute;
    width: 295px;
    height: 142px;
    margin-top: -144px;
    margin-left: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.icons{
    display: none;
    position: absolute;
    width: 145px;
    height: 64px;
    margin-top: -105px;
    margin-left: 80px;
}

.icons>div{
    display: inline-block;
    vertical-align: middle;
}

.circle1{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100%;
    border: 5px solid rgba(204,204,204,0.5);
    -border-color:transparent;
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
}

.circle2{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100%;
    border: 10px solid rgba(204,204,204,0.5);
    -border-color:transparent;
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
}

.icon_download{
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("./img/icons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 3px;
    margin-left: 3px;
}

.circle1:hover{
    border: 5px solid rgba(204,204,204,0.8);
}

.circle2:hover{
    border: 10px solid rgba(204,204,204,0.8);
}

.icon_big{
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("./img/icons.png");
    background-repeat: no-repeat;
    background-position: -19px 0;
    margin-top: 12px;
    margin-left: 13px;
}

.icon_wide{
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("./img/icons.png");
    background-repeat: no-repeat;
    background-position: -38px 0;
    margin-top: 4px;
    margin-left: 3px;
}

.section_pictures_item_header:hover .img_opacity{
    display: block;
}

.section_pictures_item_header:hover .icons{
    display: block;
}


.section_pictures_item_header:hover {
    background-color: #FFF;
}

.section_pictures_item_header{
    background-color: #f3f3f3;
    z-index: 1;
    position: relative;
    border: 2px solid #f3f3f3;
}
.section_pictures_item_header_line1{
    font-size: 14px;
    padding: 0 0 0 10px;
}

.section_pictures_item_header_line2{
    font-size: 11px;
    padding: 0 0 0 10px;
}

.section_pictures_item_header{
    background-image: linear-gradient(to bottom right, transparent 50.5%, #f3f3f3 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, #f3f3f3 50.5%);
    background-repeat: repeat-x, repeat-x;
    background-size: 10px 10px, 10px 10px;
    background-position: bottom;
    overflow: hidden;
    margin: 0 0 2px 0;
    position: relative;
}

.section_pictures_item_content{
    font-size: 12px;
    background-image: linear-gradient(to bottom right, transparent 50.5%, #FFF 50.5%),
    linear-gradient(to bottom left, transparent 50.5%, #FFF 50.5%);
    background-repeat: repeat-x, repeat-x;
    background-size: 10px 10px, 10px 10px;
    background-position: top;
    overflow: hidden;
    padding: 10px;
    margin: -10px 0 0 0;
    z-index: 5;
    position: relative;
}


.section_tabs{
    margin-bottom: 30px;
}

.tabs {
    position: relative;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
}

.tabs label{
    color: #555;
    cursor: pointer;
    display: block;
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.tabs input {
    position: absolute;
    display: none;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
    border-bottom: 1px solid #fff;
    z-index: 3;
}

.bottom_line{
    margin: 45px 0 0 300px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 4000;
}

.tabs_cont {
    background: #fff;
    position: relative;
    z-index: 2;
    height: 170px;
}

.tabs_cont > div {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity: 0;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
    position: static;
    display: block;
    opacity: 1;
}

.highlited{
    background-color: #ffe7b9;
}

.tab_columns>div{
    vertical-align: top;
    display: inline-block;
    width: 32%;
}

.tab_content_header{
    color: #222222;
    margin: 20px 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.tabs__content_items_1_list {
    color: #222222;
}

.tabs__content_items_1_list li:before{
    content: ">";
    padding-right: 10px;
}

.tabs__content_items_1_list li{
    list-style-type: none;
}

.tabs__content_items_1_list ul{
    padding-left: 35px;
    color: #222222;
}

.tabs__content_items2 p{
    vertical-align: top;
    position: relative;
}

.tabs__content_items2_img{
    width: 120px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f3f3f3;
    position: absolute;
}

.tabs_item_header, .tabs_item_text{
    margin: 0 0 0 130px;
}

.tabs_item_header{
    color: #222222;
    font-weight: bold;
}


.section_links{
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.section_links>div{
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.links_lastes_articles{
    width: 45%;
}

.links_single_menu_title,
.links_cursus_venenatis_mollis{
    width: 20%;
}

.links_header{
    color: #ffad19;
    font-weight: bold;
}

.links_lastes_articles_header{
    color: #222222;
}

.section_links a:hover,
.section_links a:focus{
    color: #222222;
}

.links_lastes_articles li{
    list-style-type: none;
    height: 60px;
}

.links_lastes_articles ul{
    padding: 0;
}

.links_lastes_articles li:before{
    content: url("./img/lyst.png");
    padding-right: 15px;
    margin-bottom: 10px;
    float:left;
}





